.App {
  text-align: center;
  background-color: #EEEEEE;
}

.navBar {
  background-color: #030303;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navTitle {
  padding: 0.75rem 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #EEEEEE;
}

.navSpacer {
  margin-left: auto;
}

.navItem {
  overflow: hidden;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #EEEEEE;
  white-space: nowrap;
}

.navItem:hover {
  background-color: #31363F;
}

.profilePic {
   /* padding: 5vh;*/
    padding-top: 2vh;
    height: 20em;
    width: 20em;
    border-radius: 50%;
    /*overflow: hidden;*/

}

/* TODO rename later */
.fillBackgroundLater {
  padding-top: 10em;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.header1 {
  color:#101111;
  font-size: 4em;
  margin-top: 7vh;
  margin-bottom: 10vh;
  padding-top: 2vh;
}

.projContainer {
  background-color: #EEEEEE;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.projContainer > .proj {
  flex: 3;
  box-shadow: 10px 5px 5px #76ABAE;
  padding: 4em 1em 6em;
  margin: 1em;
  margin-top: 3em;
  background-color: white;
  color: #222831;
  position: relative;
  top: -25vh;
}