.App {
  text-align: center;
  background-color: #EEEEEE;
}

.navBar {
  background-color: #222831;
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navItem {
  display: inline;
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #EEEEEE;
}

.navItem:hover {
  background-color: #31363F;
}

.header1 {
  color: #76ABAE;
  font-size: 4em;
  margin-top: 7vh;
  margin-bottom: 10vh;
  padding-top: 5vh;
}

.projContainer {
  background-color: #EEEEEE;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.projContainer > .proj {
  flex: 3;
  box-shadow: 10px 5px 5px #76ABAE;
  padding: 4em 1em 6em;
  margin: 1em;
  margin-top: 3em;
  background-color: white;
  color: #222831;
  position: relative;
  top: -25vh;
}